@import './../../../styles.scss';


.wrapper-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 110px;
  width: 100%;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 100%;
  max-width: 1440px;

  img {
    height: 45px;
    margin-left: 100px;
  }
}

.menu-container {
  display: flex;
  gap: 92px;
  margin-right: 100px;
}

.menu-section-container {
  display: flex;
  gap: 29px;
  font-size: 32px;
  align-items: center;

  a {
    /* Hier deine Styles für alle <a> Links im Container */
    color: white;
    text-decoration: none;
    font-size: 23px;

    &:hover {
      color: $green-color;
    }
  }
}


.language-container {
  display: flex;
  gap: 14px;
  font-size: 32px;

  p {
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid $green-color;
    width: 38px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.activ-language {
  background-color: $green-color;
  font-weight: 700;
}

.inactiv-language {
  &:hover {
    background-color: $purple-color;
    border: 1px solid $purple-color !important;
  }

}

.activ-language-mobile {
  color: $green-color;
  font-weight: 700;
}

.inactiv-language-mobile {
  &:hover {
    cursor: pointer;
  }

}

.mobile-menu-container {
  position: fixed;
  top: 110px; // unterhalb des Headers
  right: 0;
  width: 100%;
  height: calc(100% - 110px);
  background-color: rgba(20, 29, 47, 0.95);
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Animation */
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  a {
    font-size: 24px;
    margin: 10px 0;
    color: white;
    text-decoration: none;

    &:hover {
      color: $green-color;
    }
  }
}

/* Sichtbar-Variante */
.mobile-menu-container.open {
  transform: translateX(0);
}



.menu-section-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-container-mobile {
  display: flex;
  gap: 5px;
}

.mobile-menu-icon {
  display: none; // Standard: im Desktop nicht sichtbar
}

@media (max-width: 1225px) {
  .header {
    margin-inline: 0px;
  }
}

@media (max-width: 900px) {
  .header {
    img {
    margin-left: 25px;      
    }



  }

  .menu-container {
    margin-right: 25px;
  }
}

@media (max-width: 768px) {
  .menu-container {
    display: none; // Normales Menü ausblenden
  }

  .mobile-menu-icon {
    display: block; // Icon anzeigen
    width: 32px;
    height: 32px;
    cursor: pointer;

  }

  .header {

    /*     padding-inline: 25px; */
    padding-inline: 25px;
    margin-inline: 0px;

    img {
      margin-left: 0px;
    }
  }

  .online-contact-container {
    justify-content: flex-start;
  }


}