@import './../../styles.scss';

:host {
    width: 100%;
}

.footer-wrapper {
    width: 100%;
    height: 291px;
    border-top: 4px solid $green-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max-width-container {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    margin-left: 100px;
    gap: 10px;
    display: flex;
    flex-direction: column;

    img {
        margin-bottom: -20px;
    }
}

.copyright-text {
    font-size: 23px;
}

.sozial-media-container {
    margin-right: 100px;
    gap: 42px;
    display: flex;
}

.legal-notice-link-desktop {
    margin-left: 12px;
    margin-block: 0px;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.legal-notice-link-mobile {
    display: none;
    margin-left: 12px;
    margin-block: 0px;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

@media (max-width: 900px) {

    .max-width-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 16px;
    }

    .legal-notice-link-desktop {
        display: none;
    }

    .legal-notice-link-mobile {
        display: unset;
    }

    .footer-left {
        margin-left: 0px;
    }

    .sozial-media-container {
        margin-right: 0px;
    }
}