@import './../../../styles.scss';


.img {
    position: relative;
    width: 100%;
}

.start-img {
    height: 600px;
    left: 50px;
    top: 50px;
    opacity: 1;
    position: absolute;
    z-index: 1;
    display: flex;
}

.photo-shadows {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 100px;
    z-index: 0;
}

.i-am-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.max-width-container {
    width: 100%;
    margin-top: 110px;
    max-width: 1440px;
}

.hero-bg {
    width: 100%;
    max-width: 1440px;
    height: 500px;
    top: 400px;
    left: 0px;
    opacity: 1;
    z-index: 2;
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

.i-am-textfield {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: fit-content;
    left: 430px;
    bottom: 400px;
    z-index: 5;
}


.i-am-text-rotate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 152px;
    height: 63px;
}


.i-am-text-rotate {
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    width: 152px;
    height: 63px;
    opacity: 1;
    margin: 0px;

}

.i-am-text-name {
    font-weight: 700;
    font-style: Bold;
    line-height: 120%;
    letter-spacing: 0%;
    font-size: 90px;
    line-height: 120%;
    margin: 0;
    white-space: normal;
    word-break: break-word;
    width: auto;
    max-width: 100%;

}

.i-am-text-profession {
    font-weight: 400;
    line-height: 120%;
    color: $purple-color;
    font-size: 56px;
    line-height: 120%;
    margin: 0;
    white-space: normal;
    word-break: break-word;
    width: auto;
    max-width: 100%;
}

.i-am-text {
    gap: 0px;
    display: flex;
    flex-direction: column;

}

.i-am-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.green-button {
    margin-top: 16px;
    width: 200px;
    height: 58px;
    opacity: 1;
    gap: 10px;
    border-radius: 10px;
    color: white;
    background-color: $green-color;
    font-size: 23px;
    z-index: 4;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }

}

.online-contact-container {
    position: absolute;
    top: 837px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    p {
        font-size: 23px;
    }
}

.vektor-object-purple {
    width: 100px;
    height: 4px;
    border: $purple-color;
    background-color: $purple-color;

}

.sozial-media-container {
    display: flex;
    gap: 32px;

    img {
        transition: transform 0.3s ease;
        display: inline-block;

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }

}

@media (max-width: 1225px) {

    .i-am-text-name {
        font-size: 6vw;
    }

    .i-am-text-profession {
        font-size: 3vw;
    }
}


@media (max-width: 900px) {
    .max-width-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .start-img {
        height: 410px;
        left: unset;
        top: 0px;
        opacity: 1;
        position: relative;
        z-index: 1;
        display: flex;


    }

    .i-am-textfield {
        position: relative;
        margin-top: 0px;
        left: 0px;
        bottom: 500px;
    }

    h3 {
        font-size: 44px;
    }

    .i-am-text-rotate {
        font-size: 32px;
    }

    .i-am-text-name {
        font-size: 11vw;
    }

    .i-am-text-profession {
        font-size: 28px;
    }

    .i-am-text-rotate-container {
        width: 75px;
    }

    .online-contact-container {
        width: 100%;
        justify-content: flex-start;

        p {
            display: none;
        }
    }

    .photo-shadows {
        width: 390px;
        position: relative;
        top: -370px;
    }

    .hero-bg {
        height: 167px;
        top: -460px;
    }

    .img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .green-button {
        width: 180px;
        height: 50px;
        font-size: 18px;
    }

}

@media (max-width: 420px) {
    .start-img {
        height: 280px;
    }

    .photo-shadows {
        width: 300px;
        top: -290px;
    }

    .hero-bg {
        top: -360px;
    }

    .i-am-textfield {
        bottom: 415px;
        margin-right: 25px;
    }

    .i-am-text-name {
        font-size: 9vw;
    }

    .i-am-text-profession {
        font-size: 5vw;
    }

    .i-am-text-rotate-container {
        width: 72px;
    }

    .online-contact-container {
        top: 90vh;
    }

    .i-am-text {
        gap: 8px;
    }
}