.header {
    display: flex;
    justify-content: space-between;
    padding-block: 37px;
    padding-inline: 100px;

    img {
        height: 80px;
    }

}

.menu-container {
    display: flex;
    gap: 92px
}

.menu-section-container {
    display: flex;
    gap: 29px;
    font-size: 32px;
}

.language-container {
    display: flex;
    gap: 14px;
    font-size: 32px;
}