.header {
    display: flex;
    justify-content: space-between;
    padding-block: 37px;
    padding-inline: 100px;

    img {
        height: 80px;
    }

}

.menu-container {
    display: flex;
    gap: 92px
}

.menu-section-container {
  display: flex;
  gap: 29px;
  font-size: 32px;

  a {
    /* Hier deine Styles für alle <a> Links im Container */
    color: white;
    text-decoration: none;

    &:hover {
      color: #70E61C;
    }
  }
}


.language-container {
    display: flex;
    gap: 14px;
    font-size: 32px;
}