<div class="contact-container">
  <div class="max-width-container">
    <div class="h3-container">
      <div class="purple-vektor"></div>
      <h2>{{translations.contactHeadline}}</h2>
      <div class="other-vektor"></div>
    </div>
    <div class="contact-input-container">
      <div class="text-container-contact">
        <p class="hilighted-text">{{translations.contactDescriptionHeader}}</p>
        <p>{{translations.contactDescription}}</p>
        <p>{{translations.contactNeed}}<b>{{translations.ContactMe}}</b></p>
      </div>

      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" novalidate>
        <div class="form-group">
          <div class="input-wrapper" [ngClass]="{ 
    'invalid': name.invalid && (name.touched || contactForm.submitted), 
    'valid': name.valid && (name.touched || contactForm.submitted) 
  }">
            <input [(ngModel)]="contactData.name" type="text" id="name" name="name"
              placeholder="{{translations.contactName}}" required #name="ngModel">
          </div>
          <span class="error-message" *ngIf="name.invalid && (name.touched || contactForm.submitted)">
            {{translations.contactNameRequired}}
          </span>
        </div>

        <div class="form-group">
          <div class="input-wrapper" [ngClass]="{ 
    'invalid': email.invalid && (email.touched || contactForm.submitted), 
    'valid': email.valid && (email.touched || contactForm.submitted) 
  }">
            <input [(ngModel)]="contactData.email" type="email" id="email" name="email"
              placeholder="{{translations.contactEmail}}" required
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" #email="ngModel">
          </div>
          <span class="error-message" *ngIf="email.invalid && (email.touched || contactForm.submitted)">
            {{translations.contactEmailRequired}}
          </span>

        </div>

        <div class="form-group">
          <div class="input-wrapper" [ngClass]="{ 
      'invalid': message.invalid && (message.touched || contactForm.submitted), 
      'valid': message.valid && (message.touched || contactForm.submitted) 
    }">
            <textarea [(ngModel)]="contactData.message" name="message" id="message"
              placeholder="{{translations.contactMessage}}" required minlength="4" #message="ngModel"></textarea>
          </div>
          <span class="error-message" *ngIf="message.invalid && (message.touched || contactForm.submitted)">
            {{translations.contactMessageRequired}}
          </span>
        </div>


        <div class="privacy-policy-container">
          <input type="checkbox" name="privacyPolicy" id="checkbox-privacy-policy"
            [(ngModel)]="contactData.privacyPolicy" required>
          <p>{{translations.contactPrivacyPolicyLeft}} <a [routerLink]="'/privacy-policy'"
              class="highlight">{{translations.contactPrivacyPolicyMiddle}}</a>{{translations.contactPrivacyPolicyRight}}
          </p>
        </div>

        <div class="button-container">
          <input type="submit" value="{{translations.contactSendMessage}}" [disabled]="!contactData.privacyPolicy"
            [class.disabled-btn]="!contactData.privacyPolicy">
        </div>

        <!--success-message -->
        <div class="success-message" *ngIf="successMessage">
          {{ successMessage }}
        </div>

      </form>

    </div>
    <div class="arrow-container">
      <a href="#i-am" class="arrow-icon">
      </a>
    </div>
   <img class="purple-shadow-contact" src="/img/bg/33. Purple shadow Footer.png" alt="">

  </div>

</div>