@import './../../../styles.scss';

h3 {
    font-weight: 700;

    font-style: Bold;
    font-size: 90px;
    line-height: 120%;
    letter-spacing: 0%;
    font-size: clamp(32px, 4vw, 70px); 
    line-height: 120%;
    margin: 0;
    white-space: normal; 
    word-break: break-word; 
    width: auto; 
    max-width: 100%; 
    margin-top: 50px;
}

.about-me-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

}

.max-width-container {
    width: 100%;
    display: flex;
    gap: 5vw;
    z-index: 5;
    height:auto;
    max-width: 1440px;
    flex-direction: row;
    position: relative;

}

.about-me-text-field {
    width: 70%;
    margin-left: 100px;
}

.bg-shadow {
    width: 774px;
    opacity: 1;
    position: absolute;
    right: -450px;
    top: 0px;
    z-index: 0;
}

.profile-img {
    width: 453px;
    height: 453px;
    object-fit: cover;
    border-radius: 180px;
    border: 4px solid $green-color;
    border-radius: 50%;
    z-index: 5;
}

.informations-about-me {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 16px;

    img {
        height: 48px;
        width: 48px;
    }
}

.about-me-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    position: relative;
/*     overflow: hidden; */
}

.vektor-object-green {
    width: 100%;
    height: 4px;
    border: $green-color;
    background-color: $green-color;
    z-index: 1;
}

.img-and-vektor-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    align-items: center;
    top: 80px;
}

.bg-shadow-mobile {
    display: none;
}






@media (max-width: 1225px) {
    .about-me-text-field {
        width: 90%;
    }

    .profile-img {
        width: 353px;
        height: 353px;
    }

}

@media (max-width: 900px) {
    .about-me-text-field {
        margin-inline: 0px;
        width: 100%;
        z-index: 10;
    }

    .profile-img {
        display: none;
    }

    .vektor-object-green {
        display: none;
        width: 0px;
    }

    .img-and-vektor-container {
        width: 0px;
    }

    .about-me-img {
        width: 100%;
        position: absolute;
        left: 40%;
    }

    .max-width-container {
        gap: 0px;
        margin-inline: 25px;
        height: unset;
    }

    .bg-shadow {
        width: 600px;
    }
}

@media (max-width: 420px) {
        .about-me-img {
        left: 0%;
    }

    .informations-about-me {
        p {
            font-size: 14px;
        }
    }
}