@import './../../../styles.scss';


.portfolio-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items: center;
}

.max-width-container {
    display: flex;
    flex-direction: column;

    position: relative;
    max-width: 1440px;
}

.project-container {
    display: flex;
    flex-direction: column;
}

.photo-shadows {
    width: 1250px;
    height: 1250px;
    position: absolute;
    bottom: -1050px;
    right: -1050px;
}

.portfolio-title-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
        margin-inline: 100px;
    }
}

.portfolio-title-container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.left-vektor {
    background-color: $purple-color;
    height: 4px;
    width: 10%;
}

.right-vektor {
    background-color: $purple-color;
    height: 4px;
    width: 50%;
}

@media (max-width: 900px) {
    .right-vektor {
        width: 40%;
    }

    .green-shadow-my-skills {
        top: -586px;
        left: -342px;
    }

    .portfolio-title-wrapper {
        p {
            margin-inline: 25px;
            text-align: center;
            margin-bottom: 0px;
            margin-top: 50px;
        }
    }
}

@media (max-width: 650px) {
    .green-shadow-my-skills {
        width: 350px;
        left: -280px;
        top: -500px;
    }

    .right-vektor {
        width: 20%;
    }
}