@import './../../../styles.scss';

.skills-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.max-width-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    position: relative;
}


.skills-container {
    width: 664px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 40px 50px;
    margin-left: 100px;
    z-index: 10;
    justify-items: center;
    align-items: center;
}

.skills-container-mobile {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 40px 50px;
    margin-left: 100px;
    width: 664px;
    z-index: 10;
    justify-items: center;
    align-items: center;
}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 88px;

    p {
        text-align: center;
    }
}

.img-with-vektor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.purple-vektor {
    width: 67px;
    height: 4px;
    background-color: $purple-color;
}

.skill-icon {
    &:hover {
        animation: hop 0.4s ease;
    }
}

@keyframes hop {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-10px);
    }

    90% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 105px;
    margin-right: 100px;
    width: 471px;

    p {
        text-align: right;
    }
}

.highlight {
    color: $purple-color;
}

.skill-container.highlight:hover {
    color: white;
    transition: color 0.1s ease;
}


.fontsize-32px {
    font-size: 32px;
    font-weight: 700;
    font-style: Bold;
}

.green-button {
    margin-top: 16px;
    width: 165px;
    height: 58px;
    opacity: 1;
    gap: 10px;
    border-radius: 10px;
    color: white;
    background-color: $green-color;
    font-size: 23px;
    z-index: 4;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.green-shadow-my-skills {
    position: absolute;
    z-index: 0;
    width: 500px;
    left: -325px;
    bottom: -400px;
    opacity: 1;
}

@media (max-width: 1220px) {
    .text-container {
        margin-left: 30px;
    }
}

@media (max-width: 900px) {
    .skills-container {
        display: none;
    }

    .skills-container-mobile {
        display: grid;
        width: 100%;
        align-items: center;
        padding-inline: 25px;
        box-sizing: border-box;
        padding-top: 32px;
        justify-items: center;
        align-items: center;

    }

    .text-container {
        margin-inline: 0px;
        width: 100%;
        align-items: flex-end;

        p {
            padding-inline: 25px;
        }
    }

    .img-with-vektor {

        p {
            padding-inline: 25px;
        }
    }

    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .green-button {
        margin-top: 24px;
        width: 180px;
        height: 50px;
        font-size: 18px;

    }

    .fontsize-32px {
        margin-block: 0px;
        margin-top: 32px;
    }

}