@import './../../../../styles.scss';

.project {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
    margin-top: 80px;

    &.flipped {
        flex-direction: row-reverse;
        text-align: right;

        .project-info {
            align-items: flex-end;
        }
    }

    img {
        width: 350px;
        height: auto;
        border-radius: 10px;
    }

    .project-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.title-container {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    color: $purple-color;
    margin-bottom: 15px;
}

.skills-container {
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0%;
    color: $green-color;
    margin-block: 0px;
}

.button-container {
    display: flex;

    gap: 86px;
}

.live-test-button {
    margin-top: 16px;
    width: 152px;
    height: 58px;
    opacity: 1;
    gap: 10px;
    border-radius: 10px;
    color: white;
    background-color: $purple-color;
    font-size: 23px;
    font-weight: 400;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        background-color: $green-color;
    }

}

.github-button {
    margin-top: 16px;
    width: 152px;
    height: 58px;
    opacity: 1;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid $green-color;
    color: white;
    background-color: $bg-color;
    font-size: 23px;
    font-weight: 400;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    &:hover {
        cursor: pointer;

        background-color: $green-color;
    }

}

@media (max-width: 1250px) {
    img {
        width: 250px;
        height: auto;
        border-radius: 10px;
    }
}


@media (max-width: 900px) {
    .project {
        flex-direction: column;
    }

    .project.flipped {
        flex-direction: column;
    }

    .project-info {
        justify-content: center;
        align-items: center !important;
    }

    .button-container {
        gap: 25px;
    }


}

@media (max-width: 420px) {
    .project.flipped {
        img {
            width: 250px;
            height: auto;
            border-radius: 10px;
        }
    }

    .project {
        img {
            width: 250px;
            height: auto;
            border-radius: 10px;
        }
    }

    .live-test-button {
    width: 112px;
    height: 40px;
}

.github-button {
    width: 112px;
    height: 40px;
}
}