@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

$green-color: #70E61C;
$purple-color: #9747FF;
$bg-color: #141D2F;
$red-color: #E61C40;

body {
  font-family: 'Poppins', sans-serif;
  background-color: #141D2F;
  color: white;
  margin: 0;
  overflow-x: clip;
  /*   width: 100%; */

}


html {
  scroll-behavior: smooth;
  overflow-x: clip;
}

h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(32px, 4vw, 70px);
  line-height: 120%;
  letter-spacing: 0%;
  margin: 0;
  white-space: normal; // ⬅️ Umbruch erlaubt
  word-break: break-word; // lange Wörter umbrechen
}



@media (max-width: 768px) {
  .wrapper {
    width: 100%;
  }

  app-landingpage {
    width: 100%;
  }


}